<div class="center">
    <!-- LOGO -->
    <div id="logo">
        <img src="assets/images/logo.jpg"  width="250" height="270" class="app-logo" alt="Logotipo">
    </div>

    <!-- MENU -->
    <nav id="menu">
         <ul>
             <li>
                 <a href="Vuelosydestinos.html">Vuelos y Destinos</a>
             </li>
             <li>
                 <a href="Hotelesautospaquetes.html">Hoteles Autos</a>
             </li>
             <li>
                <a href="Administratuviaje.html">Administra Tu Viaje</a>
            </li>
         </ul>
    </nav>
    <!--LIMPIAR FLOTADOS-->
    <div class="clearfix"></div>
</div>

<div id="slider" class="slider-big">
    <h1>"¡Comenzó el Destino del Mes!
     Conoce y vive Estados Unidos"</h1>
     <h2>Disfruta de Miami, Los Ángeles,

         Nueva York y más. ¿Qué esperas?</h2>
         <a href="#" class="btn-white">¡Compra Ahora!</a>
 </div>