<div class="center">
        <section id="content">
            <!--listado articulos-->
            <h2>Especial Viajes</h2>
            <div id="articles">
                <article class="article-item" id="article-template">
                    <div class="image-wrap">
                        <img src="assets/images/1.png" alt="Promociones">
                    </div>                   
                    <div class="clearfix"></div>
                </article>
            </div>
            
        </section> 

        <aside id="sidebar">
            <div id="nav-blog" class="sidebar-item">
                <a href="#" class="btn btn-success">Reserva Tu vuelo</a>
                <a href="#" class="btn btn-success">Check-in</a>
                <a href="#" class="btn btn-success">Mis viajes</a>
                <a href="#" class="btn btn-success">Estado del Vuelo</a>
            </div>
        </aside>

            <div class="clearfix"></div>
    </div>